<ons-page>
    <div class="center" style="margin-top: 50px;">
        <img src="img/profile1.png" class="img-fluid" alt="Responsive image" width="40%" style="border-radius: 50%;">
        <h2>Sweetcandy Aum</h2>
<br>
    </div>
    <div>
  
        <button type="button" class="btn btn-secondary btn-lg btn-block" style="text-align: left;">จัดการโปรไฟล์
        <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 193px;"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" style="text-align: left;">การตั้งค่าแอพ
            <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 200px;"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" style="text-align: left;">ความช่วยเหลือ
            <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 189px;"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" style="text-align: left;">Get Premium
            <i class="fa fa-arrow-right" aria-hidden="true" style="margin-left: 193px;"></i>
        </button>
 
    </div>
    <div style="margin-top: 120px; text-align: center;">
        <div>
            ออกจากระบบ
<br>
        <p style="color:dimgray">version 1.1001</p>


        </div>
       
    </div>
</ons-page>