<ons-page>
    <div class="center" style="margin-top: 50px;">
        <img src="img/profile1.png" class="img-fluid" alt="Responsive image" width="40%" style="border-radius: 50%;">
        <h2>Sweetcandy Aum</h2>
<br>
    </div>
    <div>
  
        <button type="button" class="btn btn-danger btn-lg btn-block" style="text-align: left;margin-left: 5px;">
           จัดการโปรไฟล์

     
        </button>
        <button type="button" class="btn btn-danger btn-lg btn-block" style="text-align: left;margin-left: 5px;">การตั้งค่าแอพ
          
        </button>
        <button type="button" class="btn btn-danger btn-lg btn-block" style="text-align: left;margin-left: 5px;">ความช่วยเหลือ
          
        </button>
        <button type="button" class="btn btn-danger btn-lg btn-block" style="text-align: left;margin-left: 5px;">Get Premium
   
        </button>
 
    </div>
    <div style="margin-top: 120px; text-align: center;">
        <div>
            ออกจากระบบ
<br>
        <p style="color:dimgray">version 1.1001</p>


        </div>
       
    </div>
</ons-page>