<ons-page>
<div class="center">
 <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-danger active"  id="action" onclick="showmovie_type(this.id)">
          <input type="radio" name="options" checked> Action
        </label>
        <label class="btn btn-danger" id="romantic" onclick="showmovie_type(this.id)">
          <input type="radio" name="options"> Romantic
        </label>
        <label class="btn btn-danger" id="comedy" onclick="showmovie_type(this.id)">
          <input type="radio" name="options"> Comedy
        </label>
        <label class="btn btn-danger"  id="horror" onclick="showmovie_type(this.id)">
            <input type="radio" name="options"> Horror
          </label>
      </div>
    </div>


</div>

<div id="show_movie_category" class="center">

</div>
</ons-page>