<ons-page>
    <div class="text-center">

<div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" checked> Action
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2"> Romantic
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3"> Comedy
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3"> Horror
          </label>
      </div>
    </div>
    

    
  
</ons-page>