<ons-page>
  <ons-navigator swipeable id="myNavigator" page="home.html"></ons-navigator>
  <template id="home.html">
    <ons-page id="home">
    
    
      <ons-carousel class="carousel" swipeable auto-scroll id="carousel" style="height: auto;">
       
        <ons-carousel-item class="wallpaper1" id="Secret Life of Pets 2" onclick="openMovieDetails(this.id)">
        
        </ons-carousel-item>
        <ons-carousel-item class="wallpaper2" id="X men dark phoenix" onclick="openMovieDetails(this.id)">
        
        </ons-carousel-item>
        <ons-carousel-item class="wallpaper3" id="Alita: Battle Ange" onclick="openMovieDetails(this.id)">
        
        </ons-carousel-item>
     
      </ons-carousel>

      

      <div class="movie_list">
         HIT TO DAY
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-hit" >


        </ons-carousel>
      </div>
      
      <div class="movie_list">
        COMEDY
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-comedy">


        </ons-carousel>
      </div>
   
      <div class="movie_list">
        ACTION
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-action">


        </ons-carousel>
      </div>

      <div class="movie_list">
        HORROR
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-horror">


        </ons-carousel>
      </div>

      <div class="movie_list">
        ROMANCE
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-romance">


        </ons-carousel>
      </div>
    </ons-page>
  </template>
</ons-page>