<ons-page>
  <ons-navigator swipeable id="myNavigator" page="home.html"></ons-navigator>
  <template id="home.html">
    <ons-page id="home">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button onclick="fn.open()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center" style="color: red">NAME MOVE</div>
        <div class="right">
          <ons-toolbar-button>
            <ons-icon icon="fa-search"></ons-icon>
          </ons-toolbar-button>
          <ons-if platform="android">
            <ons-toolbar-button>
              <ons-icon icon="ion-android-more-vertical"></ons-icon>
            </ons-toolbar-button>
          </ons-if>
        </div>
      </ons-toolbar>
    


      <ons-carousel class="carousel" swipeable auto-scroll id="carousel" style="height: auto;">
        <ons-carousel-item>
          <img src="img/star.jpg" />
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/กัปตัน.jpg" />
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/กัปตัน.jpg" />
        </ons-carousel-item>
      </ons-carousel>

      <div class="cover-label center">
        <ul>
          <li>
            <div id="dot0" class="circle circle_current">&#x25cf;</div>
          </li>
          <li>
            <div id="dot1" class="circle">&#x25cf;</div>
          </li>
          <li>
            <div id="dot2" class="circle">&#x25cf;</div>
          </li>
        </ul>
      </div>

      <div class="movie_list">
        HIT TO DAY
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px" id="list-movie-hit" >


        </ons-carousel>
      </div>
      <br>
      <br>
      <div class="movie_list">
        TO DAY MOVIE
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px" id="list-movie-today">


        </ons-carousel>
      </div>
      <br>
      <br>
      <div class="movie_list">
        MOVIE 2019
        <ons-carousel auto-refresh swipeable overscrollable item-width="110px" id="list-movie-2019">


        </ons-carousel>
      </div>

    </ons-page>
  </template>
</ons-page>