<ons-page>
  <ons-navigator swipeable id="myNavigator" page="home.html"></ons-navigator>
  <template id="home.html">
    <ons-page id="home">
    
    
      <ons-carousel class="carousel" swipeable auto-scroll id="carousel" style="height: auto;">
        <ons-carousel-item>
          <img src="img/star.jpg" />
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/กัปตัน.jpg" />
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/กัปตัน.jpg" />
        </ons-carousel-item>
      </ons-carousel>

      <div class="cover-label center">
        <ul>
          <li>
            <div id="dot0" class="circle circle_current">&#x25cf;</div>
          </li>
          <li>
            <div id="dot1" class="circle">&#x25cf;</div>
          </li>
          <li>
            <div id="dot2" class="circle">&#x25cf;</div>
          </li>
        </ul>
      </div>

      <div class="movie_list">
        HIT TO DAY
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-hit" >


        </ons-carousel>
      </div>
      
      <div class="movie_list">
        COMEDY
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-comedy">


        </ons-carousel>
      </div>
   
      <div class="movie_list">
        ACTION
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-action">


        </ons-carousel>
      </div>

      <div class="movie_list">
        HORROR
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-horror">


        </ons-carousel>
      </div>

      <div class="movie_list">
        ROMANCE
        <ons-carousel auto-refresh swipeable overscrollable item-width="170px" id="list-movie-romance">


        </ons-carousel>
      </div>
    </ons-page>
  </template>
</ons-page>